<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <title>Novo Pokémon</title>
</head>
<body>
    <div class="pokedexlayout">
    </div>
    <div class="container">
        <div class="text-center"><h1>Novo Pokémon</h1></div>
    <form action="/adicionarPokemon" method="POST">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required>
        <br>
        <label for="tipo">Tipo:</label>
        <input type="text" id="tipo" name="tipo" required>
        <br>
        <button type="submit">Adicionar</button>
    </form>
    <a href="/"><button>Voltar à Pokédex</button></a>
</div>
</body>
</html>
