<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <title><%= pokemon.nome %></title>
</head>
<body>
    <div class="pokedexlayout">
    </div>
    <div class="container">
    <h1><%= pokemon.nome %></h1>
    <p>Tipo: <%= pokemon.tipo %></p>
    <a href="/"><button>Voltar à Pokédex</button></a>
</div>
</body>
</html>
