<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <title><%= professor.nome %></title>
</head>
<body><div class="pokedexlayout">
</div>
<div class="container">
    <h1><%= professor.nome %></h1>
    <a href="/">Voltar à Pokédex</a>
</div>
</body>
</html>